* {
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    background-color: white;
}

header li {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 40px;
}

header h1 {
    text-align: center;
    padding: 20% 18%;
    background-color: #242424;
    color: white;
}

#self-introduction {
    display: flex;
    padding: 5% 20% 0% 20%;
}

main article #introduction-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#introduction-2 {
    padding: 0% 0% 0% 19%;
}

#self-qr {
    padding: 10% 0% 0% 50%;
}

#introduction-2 li {
    list-style: none;
    padding: 5px 0px 5px 0px;
}

#hobby h2 {
    text-align: center;
    padding: 5% 0% 0% 0%;
}